<div class="upload">
  <div class="label">{{ label() }} @if (required()) { <span class="req">*</span> }</div>
  <div class="grid">
    @for (url of urls; track url; let i = $index) {
      <div class="item">
        <img [src]="url" alt="" />
        <button mat-icon-button type="button" (click)="remove(i)"><mat-icon>close</mat-icon></button>
      </div>
    }
  </div>
  <button class="dropzone" type="button" (click)="fileInput.click()" [disabled]="uploading()">
    @if (uploading()) {
      <mat-spinner diameter="22"></mat-spinner>
    } @else {
      <mat-icon>add_photo_alternate</mat-icon>
      <span>Add images</span>
    }
  </button>
  <input #fileInput type="file" hidden accept="image/*" multiple (change)="onFiles($event)" />
</div>
